<h2>Show user</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @user.name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>Bio:</strong>
    <%= @user.bio %>
  </li>

  <h3><%= Enum.count @user.videos %> Videos</h3>
  <%= for video <- @user.videos do %>
    <li><a href="<%= video_path(@conn, :show, video.id) %>"><%= video.name %></a></li>
  <% end %>

</ul>

<%= link "Back", to: user_path(@conn, :index) %>
