<h2>Show video</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @video.name %>
  </li>

  <li>
    <strong>Desc:</strong>
    <%= @video.desc %>
  </li>

  <li>
    <strong>User:</strong>
    <a href="<%= user_path(@conn, :show, @video.user.id) %>"><%= @video.user.name %></a>
  </li>

</ul>

<%= link "Back", to: video_path(@conn, :index) %>
